<nav>
    <ul>
      <li><strong>P's Blog</strong></li>
    </ul>
    <ul>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
    </ul>
</nav>